In [1]:
#import pandas lib
import pandas as pd

In [2]:
#Display pandas version
pd.__version__

'1.2.4'

In [3]:
#import os module
import os

In [4]:
#changing directory
os.chdir(r'C:\Users\Hp\Desktop\DataScience\Assignment\Practice\IO Using Pandas')

In [5]:
#Reading Excel file
data=pd.read_excel('Iris.xlsx')

In [6]:
#Reading top 3 records
data.head(3)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa

In [7]:
#Reading CSV file
CSVdata=pd.read_csv('Iris.csv')

In [8]:
#Reading top 3 records in csv
CSVdata.head(3)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa

In [11]:
#changing directory
os.chdir(r'C:\Users\Hp\Desktop\DataScience\Assignment\Practice')

In [12]:
#making directory
os.mkdir("Export_Data")

In [15]:
os.chdir(r'C:\Users\Hp\Desktop\DataScience\Assignment\Practice\Export_Data')

In [16]:
#Export to excel
data.to_excel('Excel_export.xlsx')

In [17]:
#Export to csv
data.to_csv('Excel_export.csv')